body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    background-color: white;
    max-width: 767px;
  }
  
  .spin-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
    animation: fadeout 0.2s 3s forwards;
  }
    @Keyframes fadeout{
      0% {
    opacity: 100%;
  }
      100% {
    opacity: 0%;
    visibility: hidden;
    }
  }
  
  .Spinner {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0%;
    height: 500px;
  }
  
  #text {
    display: flex;
    color: #94DFCD;
    font-family: "Roboto", sans serif;
    font-size: 17px;
    font-weight: 900;
    position: relative;
    top: -857px;
    justify-content: center;
  }
  
  .spin {
    border: 5px solid #9356DC ;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader2 {
    border: 5px solid #FF79DA ;
    width: 220px;
    height: 220px;
    position: relative;
    top: -216px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader3 {
    border: 5px solid #9356DC ;
    width: 240px;
    height: 240px;
    position: relative;
    top: -452px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
  #loader4 {
    border: 5px solid #FF79DA ;
    width: 260px;
    height: 260px;
    position: relative;
    top: -708px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 3s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
  }
    @keyframes rotate2 {
      0% {
    transform: rotateZ(-360deg)
    }
      100% {
    transform: rotateZ(0deg)
    }
  }
    @keyframes rotate2 {
      0% {
    transform: rotateZ(360deg)
    }
      100% {
    transform: rotateZ(0deg)
    }
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    cursor: auto;
  }
  
  #logo .logo{
    display: flex;
    margin-left: 0px;
    width: 160px;
  }
  
  .navbar .logo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    font-family: 'shrikhand';
    margin: 0px;
    cursor: auto;
  }
  
  .research-box {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-content: center;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    border-top: 3px grey solid;
  }
  
  .icon-location .fa-map-marker-alt {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  
  .research-bar {
    background-color: #d9d9d9;
    border-color: transparent;
    max-width: 50%;
    max-height: 100%;
    font-size: 17px;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
  }
  
  .Description {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 250px;
    background-color: #f2f2f2;
  }
  
  .Description .title-h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
  }
  
  .Description .subtile {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 16px;
    font-family: 'roboto', sans-sérif;
    font-weight: 400;
    text-align: center;
  }
  
  .Description .button-explorer {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 50px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 60px; 
    border: 0px;
    transition: all 0.3s ease-in-out;
  }
  .Description .button-explorer:hover {
    background: linear-gradient(to left, #9356DC, #ab60d5);
    scale: 1.05;
  }
  
  .HowToUse {
    display: block;
    margin-top: 50px;
    background-color: white;
    margin: 0px 5px;
  }
  
  .HowToUse .HTU-title {
    display: flex;
    height: 30px;
    margin-left: 16px;
    font-size: 25px;
  }
  
  .HTU-action {
    --c:grey;
    text-decoration: none;
    display: flex;
    width: 87%;
    align-items: center;
    background: #ececec;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 7px #d3d3d3;
  }
  .HTU-action:hover {
    background-color:#f2eafb;
    --c:#9356DC;
  }
  .fa-mobile-alt{ 
    width: 15px;
    height: 15px;
    color: grey;
    margin-left: 10px;
  }
  .fa-mobile-alt::before{
    content:"\f54e"; 
    color:var(--c);
  }
  .fa-list-ul{ 
    width: 15px;
    height: 15px;
    color: grey;
    margin-left: 10px;
  }
  .fa-list-ul::before{
    content:"\f54e"; 
    color:var(--c);
  }
  .fa-store{ 
    width: 15px;
    height: 15px;
    color: grey;
    margin-left: 10px;
  }
  .fa-store::before{
    content:"\f54e"; 
    color:var(--c); 
  }
  
  .HTU-action .HTU-text {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 13px;
    padding: 27px;
    margin: 0;
  }
  
  .HTU-number{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0px;
    position: relative;
    top: 2px;
    left: -10px;
    background-color: #9356DC;
    color: white;
    border-radius: 30px;
    border: 1px black;
  }
  
  .restaurants {
    width: 100%;
    height: auto;
    background-color: #F2f2f2;
    display: block;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 25px;
  }
  
  .restaurants .title-h2  {
    display: flex;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 19px;
  }
  
  .restaurantcardimgimg {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
  
  .restaurant_full-card {
    display: flex;
    justify-content: center;
    width: 87%;
    height: 210px;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
  }
  
  .restaurant_full-card a{
    text-decoration: none;
  }
  
  .fa-heart {
    position: relative;
    top: -35px;
    left: 85%;
    font-size: 25px;
    color: grey;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  
  .fa-heart:hover{
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    color: #fff;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .restaurant_full-card .case-text h3{
    margin: 0px;
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    font-weight: 600;
  }
  
  .restaurant_full-card .case-text p {
    margin: 0px;
    margin-left: 15px;
    color: black; 
    font-weight: 300;
  }
  
  .rest-newtext {
    width: 90px;
    height: 25px;
    background-color: #99E2D0;
    position: relative;
    top: -210px;
    left: 65%;
  }
  
  .rest-new_text {
    display: flex;
    width: 70px;
    height: 15px;
    font-size: 16px;
    font-weight: 700;
    color: green;
    position: relative;
    top: 3px;
    left: 12%;
  }
  
  .rest-newtext  {
     animation-duration: 1.5s;
     animation-name: clignoter;
     animation-iteration-count: infinite;
     transition: none;
  }
  @keyframes clignoter {
    30%   { opacity:1; }
    50%   {opacity:0; }
    100% { opacity:1; }
  }
  
  .footer-blocs {
    display: flex;
    background-color: #333333;
    color: white;
  }
  
  .footer-informations {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }
  
  .footer-informations .logo {
    max-width: 70%;
    max-height: 100%;
    font-family: 'shrikhand';
  }
  
  .bloc-logo {
    margin-left: 15px;
  }
  
  .liste-informations li  {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  .filters-button {
    display: flex;
    text-align: center;
    border: 0px;
    margin: 0px;   
  }
  
  .filters-button i {
    display: inline-block;
    margin-right: 7px;
    margin-left: 5px;
  }
  
  .filters-button .fa-utensils {
    font-size: 20px;
  }
  
  .filters-button .fa-hands-helping {
    font-size: 16px;
    margin-right: 12px;
  }
  
  .liste-informations .filters-button p{
    display: flex;
    margin: 5px;
    border: 0px;
    list-style-type: none;
  }
  .liste-informations .filters-button p:hover{
    text-decoration: underline; 
  }
  
  .liste-informations a {
    display: flex;
    margin: 5px;
    color: white;
    text-decoration: none;
    list-style-type: none;
  }
  .liste-informations a:hover{
    text-decoration: underline;
  }
  
  .liste-informations {
    padding: 5px;
    margin: 5px;
  }
  
  /* media queries */
  
  @media only screen and (min-width:768px) and (max-width: 1023px) { /* tablets */
  
  body {
    min-width: 700px;
    max-width: 990px;
  }
  
  #logo .logo{
    width: 290px;
  }
  
  .research-box {
    height: 70px;
    border-top: 5px grey solid;
  }  
    
  .icon-location .fa-map-marker-alt {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
    
  .Description .title-h1 {
    margin-bottom: 50px;
    width: 100%;
  }
  
  .Description .subtile {
    width: 100%;
    margin-bottom: 50px;
    font-size: 25px;
    justify-content: center;
  }
  
  .Description .button-explorer {
    width: 50%;
    height: 90px;
    font-size: 22px;
  }
      
  .HowToUse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .HowToUse .HTU-title {
    width: 100%;
  }  
    
   .HTU-action {
    display: flex;
    width: 70%;
  } 
   
  .HTU-number {
    width: 45px;
    height: 45px;
    font-size: 19px;
  }  
    
  .HTU-action #icons {
      margin: 10px;
    font-size: 25px;
  }  
    
  .HTU-action .HTU-text {
    font-size: 25px;
    margin-left: 30px;
  }  
    
  .restaurants .title-h2{
      font-size: 30px;
      margin-left: 25px;
    }  
    
  .restaurants .bloc-restaurants{
    display: grid;  
    width: 100%;
    grid-template-columns: 2fr 2fr;
  }
    
  .footer-informations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .footer-informations .logo {
    display: inline;
    justify-content: center;
    max-width: 100%;
  } 
    
  .liste-informations {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    margin-bottom: 25px;
  } 
    
  .filters-button i {
    margin-right: 0px;
    margin-left: 25px;
  }  
    .liste-informations a{
    margin-left: 25px; 
    }
    
    .liste-informations li  {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;  
    }
    
    .liste-informations li:hover{
      text-decoration: underline;
    }
  }  
  
  @media only screen and (min-width:1024px) { /* pc */
    
  body {
    min-width: 1024px;
    max-width: none;
  }
    
  #logo .logo{
    width: 300px;
  }
  
  .research-box {
    height: 70px;
    border-top: 5px grey solid;
  }  
    
  .icon-location .fa-map-marker-alt {
    width: 70px;
    height: 70px;
    font-size: 35px;
  }
  
  .Description .title-h1 {
    font-size: 35px;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .Description .subtile {
    width: 100%;
    margin-bottom: 50px;
    font-size: 25px;
    justify-content: center;
  }
  
  .Description .button-explorer {
    width: 35%;
    height: 90px;
    font-size: 25px;
  }
      
  .HowToUse {
    margin: 20px 5px 50px 20px;
  }
  
  .HowToUse .HTU-title {
    font-size: 30px;
    margin-left: 5px;
  }
  
  .HTU-action {
    display: inline-flex; 
    width: 30%;
    height: 45px;
    margin: 10px 10px 10px 10px;
    
  }
    
  .HTU-action .HTU-text {
    display: flex;
    align-items: center;
    font-size: 17px;
    height: 30px;
    padding: 0px;
    margin-left: 15px;
   
  }
  
  .HTU-action #icons {
      margin: 0px;
  }
    
  .HTU-number{
    width: 37px;
    height: 37px;
    left: -10px;
  }  
  
  .restaurants .title-h2{
      font-size: 30px;
      margin-left: 25px;
    }  
    
  .restaurants .bloc-restaurants{
    display: grid;  
    width: 100%;
    margin: 1.5%;
    grid-template-columns: 2fr 2fr;
  }
    
  .footer-informations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .footer-informations .logo {
    display: inline;
    justify-content: center;
    max-width: 100%;
  } 
    
  .liste-informations{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    margin-bottom: 25px;
  } 
    
  .filters-button i{
    margin-right: 0px;
    margin-left: 25px;
  }  
    .liste-informations a{
    margin-left: 25px; 
    }
    
    .liste-informations li  {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;  
    }
    
     .liste-informations li:hover{
      text-decoration: underline;
    }
  }  